// Copyright 2025 Enveng Group.
// SPDX-License-Identifier: 	AGPL-3.0-or-later
// Pico lightweight version

// @use 'pico';
@use 'pico' with (
  $css-var-prefix: '--greenova-',
  $theme-color: 'greenova',
  $modules: (
    'themes/default': false,
  )
);
@use 'themes/greenova';
@use 'base';
