@import 'tailwindcss';

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'mytheme';
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: oklch(98% 0.02 240deg);
  --color-base-200: oklch(95% 0.03 240deg);
  --color-base-300: oklch(92% 0.04 240deg);
  --color-base-content: oklch(20% 0.05 240deg);
  --color-primary: oklch(55% 0.3 240deg);
  --color-primary-content: oklch(98% 0.01 240deg);
  --color-secondary: oklch(70% 0.25 200deg);
  --color-secondary-content: oklch(98% 0.01 200deg);
  --color-accent: oklch(65% 0.25 160deg);
  --color-accent-content: oklch(98% 0.01 160deg);
  --color-neutral: oklch(50% 0.05 240deg);
  --color-neutral-content: oklch(98% 0.01 240deg);
  --color-info: oklch(70% 0.2 220deg);
  --color-info-content: oklch(98% 0.01 220deg);
  --color-success: oklch(65% 0.25 140deg);
  --color-success-content: oklch(98% 0.01 140deg);
  --color-warning: oklch(80% 0.25 80deg);
  --color-warning-content: oklch(20% 0.05 80deg);
  --color-error: oklch(65% 0.3 30deg);
  --color-error-content: oklch(98% 0.01 30deg);
}

@import url('vendor/pico-classless.min.css');

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";
